@keyframes slideDown {
  from {
    height: 0;
    overflow: hidden;
  }
  to {
    height: 136px;
    overflow: visible;
  }
}
@keyframes slideUp {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}
/**************
**Typography**
**************/
h1, h2, h3, h4, h5, h6 {
  color: #4862c5;
}

h1 {
  font-weight: 800;
  font-size: 32px;
  font-style: italic;
  line-height: 1.5;
  padding: 0 1em 0 1em;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
  padding: 1em 1em 0 1em;
  text-align: center;
}

h3 {
  color: #333;
  font-size: 20px;
  margin: 0 0 1.25em;
}

h1 + span.subtitle {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.35;
  text-align: center;
  text-shadow: 1px 1px 0 0;
}

a {
  color: #333;
  font-weight: 600;
  letter-spacing: 0.12em;
  line-height: 1.25;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1060px;
}

.wrapper {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

footer {
  background: #424141;
}

footer ul {
  list-style: none;
}

.three > ul > span {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 1em;
  text-align: left;
}

.three:first-of-type > ul > span {
  margin-top: 1em;
}

footer ul li {
  color: #e6e6e6;
  text-align: left;
}

footer a {
  color: #e6e6e6;
}

.footer-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

footer span a {
  color: #f7b516;
}

/*****************
**Spacing Styles**
******************/
.center {
  display: block;
  margin: 0.5em auto;
  text-align: center;
}

.p-1 {
  padding: 1em;
}

.m-1 {
  margin: 1em auto;
}

.header-top-banner {
  background: #4862c5;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  height: 80px;
  padding: 1em 0.5em;
  text-align: center;
}

.header-top-banner > span > a {
  color: #fff;
  text-decoration: none;
}

/********************
**mobile navigation**
*********************/
.header-top-nav {
  background-image: url("../images/header-background-mobile.png");
  background-position: center;
  background-size: auto;
  background-repeat: repeat;
  border-top: 2px solid #e5e5e5;
  padding: 1em;
  top: -15px;
  z-index: 1;
}

.header-top-nav button {
  background: #f9f9f9;
  margin-bottom: 0;
}

.hamburger-container {
  border-left: 1px solid #dadada;
  display: block;
  float: right;
  height: 100%;
  margin: 0 auto;
  padding-left: 1em;
  padding-top: 17.5px;
  width: 25px;
}

span.hamburger,
span.hamburger::before,
span.hamburger::after {
  background: #dadada;
  border-radius: 7px;
  display: block;
  height: 3px;
  margin: 0 auto;
  position: relative;
  width: 25px;
}

span.hamburger::before,
span.hamburger::after {
  position: absolute;
  content: "";
}

span.hamburger::before {
  bottom: 7px;
}

span.hamburger::after {
  top: 7px;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  margin-top: 0;
}

.mobile-nav ul {
  background-color: #f9f9f9;
  display: block;
  height: 0;
  list-style: none;
  overflow: hidden;
  transform-origin: top;
  transition: 250ms ease-in-out;
}

.mobile-nav ul li {
  background-color: #f9f9f9;
  border-left: 0.5px solid #dadada;
  border-right: 0.5px solid #dadada;
  border-bottom: 0.5px solid #dadada;
  display: block;
  margin: 0 auto;
  max-height: 34px;
}

.mobile-nav ul li a {
  color: #000;
  display: block;
  font-size: 12px;
  margin: 0 auto;
  padding: 1em 1.5em;
  text-decoration: none;
}

.slideDown {
  animation: slideDown 250ms;
  display: block !important;
  height: 136px;
  max-height: 136px !important;
}

.slideUp {
  animation: slideUp 250ms;
  display: none !important;
}

/*****************
**Content Layout**
******************/
.homepage-content {
  margin: 2em;
}

aside ul li {
  padding-left: 2em;
}

@media screen and (min-width: 801px) {
  /*****************
  **Header Layouts**
  ******************/
  .header-top-banner {
    max-height: 44px;
    padding-left: 2em;
    text-align: left;
  }

  .header-top-nav {
    max-height: 86px;
    padding: 1em;
    position: sticky;
    overflow: hidden;
    top: 0;
    transition: 250ms ease-in-out;
  }

  .header-top-nav .row {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    padding-top: 0;
  }

  .header-top-nav .row a {
    display: inline;
  }

  a.center {
    margin: initial;
    padding-left: 2em;
  }

  a.center img {
    height: 100%;
    margin-bottom: 1em;
    width: auto;
  }

  #mobile-activate {
    display: none;
  }

  nav.mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  .desktop-nav > a > img {
    max-height: 100%;
  }

  .desktop-nav ul {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    min-height: 80px;
    height: 100%;
  }

  .desktop-nav ul li {
    display: inline-block;
    position: relative;
    height: 100%;
    max-height: 100%;
    transition: 250ms ease;
  }

  .desktop-nav ul li a {
    color: #000;
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    padding: 1em;
    text-decoration: none;
  }

  .desktop-nav ul li::before {
    background-color: #4862c5;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    top: -37px;
    transform: scaleX(0);
    transform-origin: center;
    transition: 250ms ease-in-out;
    width: 100%;
  }

  .desktop-nav ul li:hover::before {
    opacity: 1;
    transform: scaleX(0.9);
    transition: 250ms ease-in-out;
  }

  .desktop-nav ul li.active::before {
    opacity: 1;
    transform: scaleX(0.9);
  }

  /*****************
  **Content Layout**
  ******************/
  div > figure:nth-child(1) {
    margin-top: 2em;
  }

  div > h2:nth-child(1) {
    text-align: left;
  }
}
@media screen and (min-width: 968px) {
  html {
    background-image: url("../images/main-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    background: #fff;
    margin-bottom: 0;
    padding-bottom: 2em;

  }

  footer {
    margin-bottom: 11px;
  
  }

  footer::before {
    background: #4862c5;
    display: block;
    content: '';
    height: 20px;
  }

  footer .three:first-child {
    padding-left: 2em;
  }

  footer .three:last-child {
    padding-right: 1em;
  }

  footer .row .three {
    margin-top: 1em;
  }

  .three:first-of-type > ul > span {
    margin-top: initial;
  }

  div.three:nth-child(4) {
    padding-right: 1em;
  }
}
@media screen and (min-width: 1366px) {
  .header-top-banner {
    text-align: left;
  }
}

/*# sourceMappingURL=custom.css.map */
