<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{.Params.description}}">
    <meta name="keywords" content="{{.Params.keywords}}">
    <meta name="author" content="Andrew M McCall">
    <title>{{ block "title" . }} {{.Site.Title}}  {{ end }}</title>
    <link rel="author" href="https://andrew-mccall.com">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/normalize.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/skeleton.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/custom.css">
</head>
<body>
    <div class="wrapper">
        {{ partial "header/site-header.html" . }}
        <div class="row u-max-full-width">
            {{ block "main" . }}
        {{ end }}
    
        </div>
        {{ block "footer" . }}
        {{ partial "footer/footer.html" . }}
    {{ end }}
    </div>
</body>
</html>