<footer>
<div class="row">
        <div class="three columns"><ul>
            <span><a href="/contact-us">Contact Us</a></span>
            <address>
                
            </address>
            <li>Top Line Electric LLC</li>
            <li>5057 Sawyer Woods Drive</li>
            <li>Traverse City, MI 49685</li>
            <li>(231) 922-8626 - TC Office</li>
            <li>(231) 922-2007 - Fax</li>
            <li>(866) 922-8626 - Toll Free</li>
            <li>(231) 723-8230 - Manistee</li>
            <li>(231) 468-2826 - Cadillac</li>
        </ul></div>
        <div class="three columns"><ul>
            <span><a href="/electrical-services-traverse-city">Services</a></span>
            <li><a href="/electrical-service-traverse-city/automation-controls/">Automation Controls</a></li>
            <li><a href="/electrical-service-traverse-city/residential-electricians/">Residential</a></li>
            <li><a href="/electrical-service-traverse-city/commercial-electricians/">Commercial</a></li>
            <li><a href="/electrical-service-traverse-city/industrial-electricians/">Industrial</a></li>
            <li><a href="/electrical-service-traverse-city/new-construction-electricians/">New Construction</a></li>
            <li><a href="/electrical-service-traverse-city/remodel-home-electricians/">Remodel</a></li>
            <li><a href="/electrical-service-traverse-city/emergency-electric-service">Emergency Services</a></li>
            <li><a href="/electrical-service-traverse-city/">Facility Maintenance</a></li>
        </ul></div>
        <div class="three columns"><ul>
            <span><a href="/">Electrical Service</a></span>
            <li>Fully Licensed & Insured</li>
            <li>Dependable Services</li>
            <li>Quality Workmanship</li>
            <li>24HR Emergency Service</li>
            <li>Equipped Service Vans</li>
            <li>Aerial Equipment Available</li>
        </ul>
    </div>
        <div class="three columns"><ul>
            <a href="{{ .Site.BaseURL}}">
                <img src="{{.Site.BaseURL}}/images/footer/contact.png" class="footer-img" alt="return to home page">
            </a>
        </ul>
    </div>
</div>
</footer>
<div class="sub-footer">
    <div class="container" id="year">
    </div>
</div>
<script src="{{.Site.BaseURL}}/scripts/mobile.js"></script>
